html {
  --mixer-width: 180px;
  text-align: center;
}

body {
  margin: 0;
  background: #333;
  color: white;
  display: flex;
}

body > div {
  height: 100vh;
  padding: 10px;
  box-sizing: border-box; /* widthにmarginも含める */
}

body > div.deck {
  flex-grow: 1; /* 左右の要素が残りのスペースを占める */
}

body > div.deck.selected {
  background: #444;
}

body > div.mixer {
  width: var(--mixer-width);
  border-left: solid 1px #555;
  border-right: solid 1px #555;
}

/**
 * Controller-Deck
 */
.preview {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  position: relative;
}

.preview .yt-player {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.preview .suspend {
  position: absolute;
  inset: 0;
  display: flex; /* Flexboxを有効にする */
  align-items: center; /* 縦方向中央揃え */
  justify-content: center;
  background: #000b;
  font-size: 1.5em;
}

.preview .syncing {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #000;
  font-size: 1.5em;
}

.deck-control {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.deck-control > * {
  flex: 1;
}

.deck-control .adjust {
  min-width: 150px;
  display: grid; /* Gridを有効にする */
  grid-template-columns: repeat(3, 1fr); /* 3列のレイアウトを作成 */
  row-gap: 0.5rem;
}

.deck-control .adjust > * {
  line-height: 50px;
  height: 50px;
  padding: 0;
}

.deck-control .speed .fader-container {
  --fader-range: 150px;
  height: var(--fader-range);
  margin: auto;
}

.deck-control .speed .fader-container input {
  width: var(--fader-range);
}

.deck-control .speed input[type="number"] {
  width: 50px;
  background: none;
  border: none;
  border-bottom: solid 1px #555;
  outline: none;
  color: white;
}

/**
 *  Controller-Mixer
 */
.load {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.load-track {
  margin-bottom: 10px;
}
.load-track .yt-thumbnail {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover; /* 中心部分を表示 */
}

.load-track input#input-videoId {
  width: 100%;
  background: none;
  border: none;
  border-bottom: solid 1px #555;
  outline: none;
  color: white;
}

.vertical-fader-container {
  --fader-range: 130px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.vertical-fader-container > .fader-container {
  height: var(--fader-range);
}

.vertical-fader-container > .fader-container > input {
  width: var(--fader-range);
}

/**
 * Common
 */
button {
  padding: 4px 12px;
  background: #222;
  color: white;
  border: solid 1px #555;
  border-radius: 4px;
}

button:hover {
  background: #000;
}

fieldset {
  border: none;
  padding: 0 8px;
  border-top: groove 1px #555;
}

.hidden {
  display: none !important;
}
