body {
  position: fixed;
  inset: 0;
  background: black;
}

.player_container {
  background: black;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
}

.player {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
}

.overlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
}
