.statusBar {
  flex: 0;

  height: 1.5em;
  background-color: #333;
  color: white;
  border-top: 1px solid #555;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.statusBar > *:nth-child(1) {
  margin-right: auto;
}
