html {
  --fader-track-thinness: 8px;
  --fader-thumb-width: 50px;
  --fader-thumb-thickness: 20px;
}

.faderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--fader-thumb-width);
  margin: auto;
}

.faderInput {
  height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  -webkit-appearance: none;
  flex-shrink: 0;
  appearance: none;
}

.faderInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--fader-thumb-thickness);
  height: var(--fader-thumb-width);
  margin-top: calc(-1 * (var(--fader-thumb-width) - var(--fader-track-thinness)) / 2);
  background: #333;
  border: 1px solid #555;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.faderInput::-webkit-slider-runnable-track {
  height: var(--fader-track-thinness);
  background: black;
  border-radius: calc(var(--fader-track-thinness) / 2);
}
