.container {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

fieldset {
  border: none;
  padding: 0 8px;
  border-top: groove 1px #555;
}

.player {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  position: relative;
}

.player iframe {
  position: absolute;
  inset: 0;
}
