fieldset {
  border: none;
  margin-bottom: 10px;
  padding: 0 4px;
  border-top: groove 1px #555;
}

button {
  color: white;
  padding: 4px 12px;
  background: #222;
  border: 1px solid #555;
  border-radius: 4px;
}

button:hover {
  background: #333;
}
