fieldset {
  border: none;
  padding: 0 4px;
  border-top: groove 1px #555;
}

button {
  color: white;
  padding: 4px 12px;
  background: rgb(34, 34, 34);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(85, 85, 85);
  border-image: initial;
  border-radius: 4px;
}

button:hover {
  background: rgb(51, 51, 51);
}
