.mixer {
  padding: 8px;
  padding-bottom: 0 !important;
}

.loadButtons {
  display: flex;
  justify-content: space-between;
}

.loadButton {
  margin: auto;
}

.loadTrack {
  margin-bottom: 10px;
}

.ytThumbnail {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;
}

.loadTrack input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #555;
  outline: none;
  color: white;
}

.audioButtons,
.opacityFaders {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0 !important;
}

.audioButton {
  width: 40%;
  color: #aaa;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
}

.audioButton.active {
  color: #fff;
  background: #555;
}

.crossfader {
  padding: 0;
}
